button.mui-flat {
    outline: none;
    border: none;
    cursor: pointer;
    color: #2196F3;
    padding: 15px 40px;
    border-radius: 2px;
    font-size: 22px;
    background: #fff;
}

button.mui-flat:hover {
    background-color: #eee;
}
